:root {
  --color-primary-White: #faf4ea;
  --color-primary-dark: #31261a;
  --color-primary-green: #819b57;
  --color-secondary-White: #cfcfbc;
  --color-seconary-orange: #a18268;
  --color-secondary-green: #465929;
}

body {
  color: var(--color-primary-dark);
}

ul {
  list-style-type: none;
}
button {
  color: #faf4ea;
  background-color: #819b57;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  color: #31261a;
  background-color: transparent;
  border: 2px solid #819b57;
}
button:active {
  color: #31261a;
  background-color: transparent;
  border: 2px solid #819b57;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-White);
}

.list:hover {
  color: var(--color-secondary-green);
}

.hero-title {
  color: var(--color-primary-green);
}
